@model IEnumerable<StudentFee.Models.Student_Payment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First_Installment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Second_Installment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.First_Installment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Second_Installment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
